<!DOCTYPE html>
<html>
  <head>
    <title>Palpitate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
    <link href="static/css/twemoji-awesome.css" rel="stylesheet">
  </head>
  <body>
    <div class="container video fill" id="home">
      <div class="row">
        <div class="col-md-8">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/YXdfFHYNVIk?rel=0&amp;controls=1" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-4">
          <div class="title">Palpitate</div>
          <div class="slogan">
            <i class="twa twa-movie-camera"></i>
            +
            <i class="twa twa-sound"></i>
            =
            <i class="twa twa-heartbeat"></i>
          </div>
          </br>
          <p class="description">
            We extract key features from audio and video input, apply state-of-the-art machine learning classification and regression techniques to estimate heart rate in real time.
          </p>
          </br>
          <form action="upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            </br>
            <input type="submit" value="Upload">
          </form>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#references">References</a></li> 
            <li><a href="#contact">Contact</a></li> 
          </ul>
        </div>
      </div>
    </nav>
    <div class="alt-container half-fill" id="about">
      <div class="container">
        <h1>About</h1>
      </div>
    </div>
    <div class="container half-fill" id="references">
      <h1>References</h1>
    </div>
    <div class="alt-container half-fill" id="contact">
      <div class="container">
        <h1>Contact</h1>
      </div>
    </div>
  </body>
</html>